* {
    font-size: 12;
}


p {
    background-color: lightgrey;
}

@media (min-width: 800px) and (max-width: 1080px) {
    p {
        font-size: 2em;
        background-color: rgb(0, 238, 255);
    }
}

@media (max-width: 800px) {
    p {
        font-size: 3em;
        background-color: rgb(255, 0, 234);
    }
}

h1 {
    background-color: lightgrey;
    font-size: 3em;
    text-align: center;
}

